/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    color: #0d0d0d;
    padding: 20px 15px 20px 60px;
    width: 380px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;

}

#presentation {
    text-align: center;
    margin-bottom: 20px;
}

#presentation img {
    width: 50%;
    height: 50%;
    margin: 20px;
    border-radius: 10px;
}

.botones{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: linear-gradient(
        90deg,
        rgba(140, 43, 231, 1) 25%,
        rgba(61, 1, 245, 1) 100%);
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

.botones:hover{
    background: rgb(153, 47, 252);
}


